.f8-btn {
    @include link-reset;
    @include reset-button;

    padding: 10px 23px;
    background-color: $color-white;
    box-shadow: -1px -1px 0 1px $color-light-grey, inset -1px -1px 0 1px $color-light-grey,
    1px 1px 0 1px $color-red, inset 1px 1px 0 1px $color-red;
    transition: box-shadow 0.1s linear;
    white-space: nowrap;

    &:hover {
        box-shadow: 0 0 1px 0 $color-light-grey, inset 0 0 1px 0 $color-light-grey,
        0 0 1px 0 $color-red, inset 0 0 1px 0 $color-red;
    }
}

