/* general mixins and helpers */

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-button() {
    background-color: transparent;
    border: none;
}

@mixin objectFitImageParent($fit: cover) {
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: $fit;

        @content;
    }
}

@mixin container() {
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--container-gap);
    padding-left: var(--container-gap);
}

@mixin link-reset() {
    color: inherit;
    text-decoration: none;
}

@mixin hover-focus() {
    [data-whatintent='mouse'] &:hover,
    [data-whatintent='keyboard'] &:focus,
    [data-whatinput='keyboard'] &:focus {
        outline: none;
        @content;
    }
}

@mixin active-hover-focus() {
    .is-active,
    [data-whatintent='mouse'] &:hover,
    [data-whatintent='keyboard'] &:focus,
    [data-whatinput='keyboard'] &:focus {
        @content;
    }
}

@mixin not-touch() {
    [data-whatintent='mouse'] &,
    [data-whatintent='keyboard'] & {
        @content;
    }
}

@mixin hover() {
    [data-whatintent='mouse'] &:hover {
        @content;
    }
}

@mixin active() {
    [data-whatintent='mouse'] &:active {
        @content;
    }
}

@function get-offset($factor) {
    @return calc(var(--offset) * #{$factor});
}

@mixin visually-hidden() {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

@mixin pretty-scroll($color: $color-main-dark, $opacity: 0.7) {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba($color, $opacity);

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        position: relative;
        background: rgba($color, $opacity);
        border: 0 none rgba($color, $opacity);

        &:active,
        &:hover {
            background: rgba($color, 1);
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border: 0 none transparent;

        &:active,
        &:hover {
            background: transparent;
        }
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
