/*
    general variables

    examples:

    $transition-default: 0.3s linear;

    $padding-mobile-vertical: 15px;
    $padding-tablet-vertical: 30px;
    $padding-desktop-vertical: 70px;

    $container-max-width: 960px;
    $container-large-max-width: 1140px;


*/

$transition-default: 0.3s linear;
$transition-ease-out-expo: 0.3s easeoutexpo;
$motion-easing: cubic-bezier(0.4, 0.47, 0.17, 0.98);
$transition-motion: 0.3s $motion-easing;
$box-shadow-dark: -1px 0 10px 1px rgba(0, 0, 0, 0.15);
$box-shadow-light: -1px 0 10px 1px rgba(255, 255, 255, 0.55);
$default-mobile-side-padding: 30px;
$default-tablet-side-padding: 40px;
$default-desktop-side-padding: 50px;
$layer-navbar: 100;
$layer-overlay: 300;
$layer-element-spinner: 150;
$layer-modal: 500;
$container-max-width: 1920px;
