.f8-range {
    position: relative;
    display: flex;
    width: 100%;

    &__spans {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__input {
        padding: 15px 0 !important;
        width: 100%;
    }
}
