.popup {
    $this: &;

    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    max-width: 500px;
    padding: 10px;
    transition: background-color 0.3s linear, box-shadow 0.3s linear, row-gap 0.2s ease;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0px;
    grid-template-areas: 'btn right-side' 'content content';
    justify-content: flex-start;

    &.is-active {
        row-gap: 20px;
    }

    &.is-active,
    &:hover {
        background-color: $color-white;
        box-shadow: 0 0 10px 0 rgba($color-black, 0.4);
    }

    &, & * {
        box-sizing: border-box;
    }

    &__right-side {
        display: flex;
        grid-area: right-side;
        gap: 15px;
        margin-left: 20px;
    }

    &__btn {
        grid-area: btn;
    }

    &__content {
        grid-area: content;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        max-height: 0px;
        max-width: 0px;
        transition: opacity 0.2s 0.2s linear, visibility 0.2s 0.2s linear, max-width 0.2s ease-out, max-height 0.2s 0.2s;

        #{$this}.is-active & {
            opacity: 1;
            visibility: visible;
            transform: none;
            max-height: 206px;
            max-width: 500px;
        }

        #{$this}.is-opened & {
            transition: opacity 0.2s linear, visibility 0.2s linear, max-width 0.2s 0.2s ease-out, max-height 0.2s;
        }
    }

    &__content-inner {
        display: grid;
        gap: 20px;
        justify-content: stretch;
    }

    &.is-loading {
        cursor: progress;

        & * {
            pointer-events: none;
        }
    }
}
